node_modules/

auth-server/node_modules/

auth-server/config/.env

schema-server/node_modules/

packages/auth-server/node_modules/

packages/auth-server/config/.env

packages/schema-server/node_modules/

packages/schema-server/config/.env

resources/